---
---


@import "{{ site.theme }}";

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 2.75rem;
  }

  @include medium {
    font-size: 1.75rem;
  }

  @include small {
    font-size: 1.25rem;
  }
}

